// Fuente
@import 'https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap';
$fontCrimson: 'Crimson Text', serif;

body{
    font-family: $fontCrimson;
    margin: 0;
    padding: 0;
    text-align: center;
}

.content{
    display: flex;
    flex-flow: wrap;
    max-width: 896px;
}

.week{
    height: 9px;
    width: 9px;
    border: 1px solid black;
    margin: 3px;
}

.painted{
    background-color: black;
}

.dflex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 986px;
    margin:auto;
}
.wflex{
    display: flex;
}